<partial name="_UpperSideNav.cshtml" />

<nav class="navigation">
    <ul>
        <details open class="thicker">
            <summary>
                <li class="list">
                    <a class="nav-link" href="#degreegps">
                        Degree GPS
                    </a>
                </li>
            </summary>
            <p class="collapse">
                <li class="list">
                    <a class="nav-link section" href="#degreeaudit">
                        Degree Audit
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#academichistory">
                        Academic History
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#majormap">
                        Major Map
                    </a>
                </li>
            </p>
        </details>

        <details open>
            <summary>
                <li class="list">
                    <a class="nav-link" href="#schedule">
                        Schedule
                    </a>
                </li>
            </summary>
            <p class="collapse">
                <li class="list">
                    <a class="nav-link section" href="#scheduleofclasses">
                        Schedule of Classes
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#registration">
                        Registration
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#advisingappointments">
                        Advising Appointments
                    </a>
                </li>
            </p>
        </details>

        <details open>
            <summary>
                <li class="list">
                    <a class="nav-link" href="#admissions">
                        Admissions
                    </a>
                </li>
            </summary>
            <p class="collapse">
                <li class="list">
                    <a class="nav-link section" href="#applyfordegreecertificate">
                        Apply for Degree/Certificate
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#withdrawadmission">
                        Withdraw Admission
                    </a>
                </li>
            </p>
        </details>
    </ul>
</nav>