<partial name="_UpperSideNav.cshtml" />

<nav class="navigation">
    <ul>
        <li class="list thicker">
            <a class="nav-link linkssection" href="#linkblueaccount">
                Link Blue Account
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#ukaccountmanager">
                UK Account Manager
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#ukalert">
                UK Alert
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#requestadataprivacyflag">
                Request a Data Privacy Flag
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#annualsafetyandfirereports">
                Annual Safety & Security and Fire Reports
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#dailycrimelog">
                Daily Crime Log
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#academiccalendar">
                Academic Calendar
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#financialaid">
                Financial Aid
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#tuitioncourseandprogramfees">
                Tuition, Course, and Program Fees
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#enrollmentverifications">
                Enrollment Verifications
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#flexmealsplus">
                Flex, Meals, Plus
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#isc">
                Integrated Success Coaching
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#bbnvolved">
                BBNvolved
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#campushousing">
                Campus Housing
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#iss">
                International Student Services
            </a>
        </li>
        <li class="list">
            <a class="nav-link linkssection" href="#gradadmissions">
                Graduate Admissions
            </a>
        </li>
    </ul>
</nav>