<partial name="_UpperSideNav.cshtml" />

<nav class="navigation">
    <ul>
        <details open class="thicker">
            <summary>
                <li class="list">
                    <a class="nav-link" href="#studentinfo">
                        Student Info
                    </a>
                </li>
            </summary>
            <p class="collapse">
                <li class="list">
                    <a class="nav-link section" href="#studentaddressinfo">
                        Student Address Info
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#passcode">
                        Passcode
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#privacysettings">
                        Privacy Settings
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#ferpadesignees">
                        FERPA Designees
                    </a>
                </li>
            </p>
        </details>

        <details open>
            <summary>
                <li class="list">
                    <a class="nav-link" href="#financials">
                        Financials
                    </a>
                </li>
            </summary>
            <p class="collapse">
                <li class="list">
                    <a class="nav-link section" href="#financialsoverview">
                        Financials Overview
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#directdepositinfo">
                        Direct Deposit Info
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#1098toptout">
                        1098-T Opt-Out
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#guestpay">
                        Guest Pay
                    </a>
                </li>
            </p>
        </details>

        <details open>
            <summary>
                <li class="list">
                    <a class="nav-link" href="#documents">
                        Documents
                    </a>
                </li>
            </summary>
            <p class="collapse">
                <li class="list">
                    <a class="nav-link section" href="#advisingprofile">
                        Advising Profile
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#unofficialtranscript">
                        Unofficial Transcript
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#letterofgoodstanding">
                        Letter of Good Standing
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#estimatedaccountstatement">
                        Estimated Account Statement
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link section" href="#1098tforms">
                        1098-T Form(s)
                    </a>
                </li>
            </p>
        </details>
    </ul>
</nav>