<header>
    <hgroup>
        <div class="uppernav">
            <p class="left">
                <img src="https://comm.uky.edu/drupal-website/sites/default/files/inline-images/my-UK.png" width="116" height="58">
                <a class="btn inbox" href="/Home/Inbox" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="You have 9 unread messages!">
                    <span class="badge rounded-pill badge-notification bg-danger">9</span>
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-inbox-fill" viewBox="0 0 16 16">
                        <path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/>
                    </svg>
                </a>
            </p>
            <h1 class="middle">
                <div class="topnav">
                    <div class="btn-group">
                        <a class="btn" href="/Home/Home" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                            </svg><br>Home
                        </a>
                        <div class="vl"></div>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Home/Home/#degreegps">Degree GPS</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#degreeaudit">Degree Audit</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#academichistory">Academic History</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#majormap">Major Map</a></li>
                            <li><a class="dropdown-item" href="/Home/Home/#schedule">Schedule</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#scheduleofclasses">Schedule of Classes</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#registration">Registration</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#advisingappointments">Advising Appointments</a></li>
                            <li><a class="dropdown-item" href="/Home/Home/#admissions">Admissions</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#applyfordegreecertificate">Apply for Degree/Certificate</a></li>
                            <li><a class="dropdown-item section" href="/Home/Home/#withdrawadmission">Withdraw Admission</a></li>
                        </ul>

                        <div class="vl2"></div>

                        <a class="btn" href="/Home/Profile" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                                <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
                            </svg><br>Student Profile
                        </a>
                        <div class="vl"></div>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Home/Profile/#studentinfo">Student Info</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#studentaddressinfo">Student Address Info</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#passcode">Passcode</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#privacysettings">Privacy Settings</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#ferpadesignees">FERPA Designees</a></li>
                            <li><a class="dropdown-item" href="/Home/Profile/#financials">Financials</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#financialsoverview">Financials Overview</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#directdepositinfo">Direct Deposit Info</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#1098toptout">1098-T Opt-Out</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#guestpay">Guest Pay</a></li>
                            <li><a class="dropdown-item" href="/Home/Profile/#documents">Documents</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#advisingprofile">Advising Profile</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#unofficialtranscript">Unofficial Transcript</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#letterofgoodstanding">Letter of Good Standing</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#estimatedaccountstatement">Estimated Account Statement</a></li>
                            <li><a class="dropdown-item section" href="/Home/Profile/#1098tforms">1098-T Form(s)</a></li>
                        </ul>

                        <div class="vl2"></div>
                        
                        <a class="btn" href="/Home/Links" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                            </svg><br>External Links
                        </a>
                    </div>
                    <a class="btn feedback" href="#" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                        </svg><br><p style="font-size: 10px">Feedback</p>
                    </a>
                </div>
            </h1>
            <p class="right">
                <a class="nav-link logout" href="javascript:logoff();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
                    </svg>&nbsp;Log Out
                </a>
            </p>
        </div>
    </hgroup>
</header>