@{
    ViewData["Title"] = "Inbox";
}


<div class="col-sm-12">
    This is where the message inbox will be shown. Messages from the university will be shown here as well as important reminders, notices, and even helpful tips (did you know?). You wouldn't be able to send messages yourself through this messaging system, however (that's what the UKY Outlook inboxes are for).
</div>