@{
    ViewData["Title"] = "External Links";
}


<div class="col-sm-2">
    <partial name="/Views/Shared/_User.cshtml" />
    <div id="sidebarWrap">
        <div id="sidebar">
            <partial name="/Views/Shared/_LinksSideNav.cshtml" />
        </div>
    </div>
</div>
<div class="col-sm-10">
    <section class="sec noborder" id="linkblueaccount">
        <h6><a href="https://www.uky.edu/linkblue/" target="_blank">Link Blue Account</a></h6>
        <p class="content">"Students, faculty, and staff should use their linkblue ID to sign in to Microsoft 365 and Google Gmail (Google Workspace). To sign in, use your username [linkblueID][at]uky.edu and linkblue password. Additional information is available in the Tech Help Center at <a href="https://uky.service-now.com/techhelp?id=kb_article&sysparm_article=KB0013274&sys_kb_id=df703aaa1b21d550e4c86571604bcbdf" target="_blank">go.uky.edu/email</a>."</p>
    </section>

    <section class="sec noborder" id="ukaccountmanager">
        <h6><a href="https://ukam.uky.edu/" target="_blank">UK Account Manager</a></h6>
        <p class="content">"linkblue Account Manager"</p>
    </section>

    <section class="sec noborder" id="ukalert">
        <h6><a href="https://www.getrave.com/manageProfile/profileDashboard.action" target="_blank">UK Alert</a></h6>
        <p class="content">"The University of Kentucky utilizes an emergency notification system, UK Alert, to communicate official information during an emergency or crisis situation that disrupts normal campus operations or threatens the health or safety of members of the campus community."</p>
    </section>

    <section class="sec noborder" id="safetylinks">
        <h6>Safety External Links</h6>
    </section>
    <ul class="links">
        <li>
            <section class="sec noborder" id="requestadataprivacyflag">
                <h6><a href="https://registrar.uky.edu/ferpa" target="_blank">Request a Data Privacy Flag</a></h6>
            </section>
        </li>
        <li>
            <section class="sec noborder" id="annualsafetyandfirereports">
                <h6><a href="https://police.uky.edu/get-informed/annual-safety-security-reports" target="_blank">Annual Safety & Security and Fire Reports</a></h6>
            </section>
        </li>
        <li>
            <section class="sec noborder" id="dailycrimelog">
                <h6><a href="https://crimelog.uky.edu/" target="_blank">Daily Crime Log</a></h6>
            </section>
        </li>
    </ul>

    <section class="sec noborder" id="academiccalendar">
        <h6><a href="https://registrar.uky.edu/academic-calendars/university" target="_blank">Academic Calendar</a></h6>
        <p class="content">"University, College of Dentistry, College of Law, College of Medicine, College of Pharmacy"</p>
    </section>

    <section class="sec noborder" id="financialaid">
        <h6><a href="https://myuk.uky.edu/zApps/studentfinancialaid" target="_blank">Financial Aid</a></h6>
        <p class="content">"The Office of Student Financial Aid and Scholarships is available to assist you Monday - Friday, 8:30 a.m. - 4:30 p.m. ET. We are currently serving walk-in visitors.  We can also meet with you over the phone or virtually through permissible video platforms."</p>
    </section>

    <section class="sec noborder" id="tuitioncourseandprogramfees">
        <h6><a href="https://www.uky.edu/studentaccount/tuition" target="_blank">Tuition, Course, and Program Fees</a></h6>
        <p class="content">"Tuition and Fees 2023-2024"</p>
    </section>

     <section class="sec noborder" id="enrollmentverifications">
        <h6><a href="https://secure.studentclearinghouse.org/sssportalui/faces/SSSPortal" target="_blank">Enrollment Verifications</a></h6>
        <p class="content">"The Office of the Registrar provides a variety of verification documents and services."</p>
    </section>

    <section class="sec noborder" id="flexmealsplus">
        <h6><a href="https://get.cbord.com/uk/full/prelogin.php" target="_blank">Flex, Meals, Plus</a></h6>
        <p class="content">"View Your Meals, Flex & Plus Account balances & transaction history or make a Plus Account deposit. To order a Faculty/Staff Meal Plan or add Flex Dollars to a Student's Account go to: <a href="https://uky.campusdish.com/" target="_blank">https://uky.campusdish.com/</a>."</p>
    </section>

    <section class="sec noborder" id="isc">
        <h6><a href="https://uky.secure.force.com/OpenSumoScheduler?id=<linkblue id>" target="_blank">Integrated Success Coaching</a></h6>
        <p class="content">"Integrated Success Coaches are trained to coach across the following 6 identified Student Support Dimensions: Academic Life Coaching, Career Coaching, Wellness Coaching, Financial Coaching, Leadership Coaching, and Identity-Based Coaching. Your coach will then work with you to identify goals and address any needs across all six student support dimensions."</p>
    </section>

    <section class="sec noborder" id="bbnvolved">
        <h6><a href="https://uky.campuslabs.com/engage" target="_blank">BBNvolved</a></h6>
        <p class="content">"Discover unique opportunities at University of Kentucky"</p>
    </section>

    <section class="sec noborder" id="campushousing">
        <h6><a href="https://mezzo.uky.edu/StarRezSSO/Home/Main" target="_blank">Campus Housing</a></h6>
        <p class="content">"Some of the best memories of college come from living on campus. Friends are made in a residence hall, on a walk to class or over a meal in a dining hall. Living in the heart of the Big Blue Nation is one of the best decisions you can make. Why? Because it's all here. Classrooms, eateries, the library and your friends are steps from where you’re living and learning when you live on campus. Welcome to Campus Housing at the University of Kentucky. We are so excited for you to live with us!"</p>
    </section>

    <section class="sec noborder" id="iss">
        <h6><a href="http://icat.uky.edu/" target="_blank">International Student Services</a></h6>
        <p class="content">"International Student & Scholar Services (ISSS) provides a number of services for current international students, including support and information about student employment, health coverage and others. ISSS provides immigration advising which allows international students to achieve their academic, professional and research goals. By facilitating cross-cultural connections we create opportunities to develop a sense of belonging at UK."</p>
    </section>

    <section class="sec noborder" id="gradadmissions">
        <h6><a href="https://gradschool.uky.edu/welcome-university-kentucky" target="_blank">Graduate Admissions</a></h6>
        <p class="content">"Thank you for exploring opportunities for graduate education with us. The University of Kentucky (UK) Graduate School is a thriving community of scholars, researchers, and students, all dedicated to improving lives through excellence in education, research, leadership, creative work, service, and healthcare. We are proud of our reputation for excellence."</p>
    </section>
</div>